body {
    background-color: #ffffff;
}

a {
    color: #6C7A89;
    text-decoration: none;
}

.navbar {
    margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*
.navbar li {
    margin-bottom: 0;
    float: left;
}
*/
.navbar li {
    margin: 1em;
    float: left;
    line-height: 0.1em;
    padding: 1em;
}

.navbar li a {
    display: block;
    color: #6C7A89;
    text-align: center;
    text-decoration: none;
}

.navbar li h4 {
    margin: 5%;
}

.navbar li h6 {
    line-height: 2.5;
}
.navbar li i {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.social-img {
    background-color: #6C7A89;
}

sidebar {
    font-size: 1.5em;
    width: 15%; 
    height: 100%;
    position: fixed;
    right: 0;
    padding: 2%;
    text-align: center;
    background-size: cover;
}

sidebar > ul {
    list-style-type: none;
    padding: 0px 10px;
    margin-top: 0px;
}

.static-item {
    text-transform: uppercase;
    font-size: 1.5em;
}

.cat-border {
    border: 2px solid #6C7A89;
    text-transform: uppercase;
}

.cat-border a:focus,
.cat-border a:hover {
    color: #F2F1EF;
    background-color: #6C7A89;
    padding: 1%;
    border-radius: 10%;
}

sidebar > ul > li > a:hover,
sidebar > ul > li > a:focus {
    color: #F2F1EF;
    background-color: #6C7A89;
    padding: 1%;
    border-radius: 10%;
}

sidebar > h2 {
    font-size: 15px;
    margin-bottom: 5px;
    padding-bottom: 3%;
}

maincontent {
    display: block;
    line-height: 1.6em;
    width: 85%;
}

maincontent > ol {
    list-style-type: none;
}

.page-title {
    border-bottom: 1.5px solid #eee;
    width: 85%;
}

hr {
    border-top: 0.3rem double #6C7A89;
}

pre {
    padding-left: 1%;
}

@media (max-width: 40.0rem) {
  .navbar
  {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar li{
    float: none;
    padding: initial;
    text-align: center
  }
  
  .navbar li h6 {
    line-height: initial;
    font-size: 0.75em;
    letter-spacing: 0;
  }

  sidebar {
    right: 0;
    max-width: none;
    position: fixed;
    width: 25%;
    padding: 0;
    padding-top: 1px;
    font-size: 8px;
  }

  maincontent {
    width: 75%;
    font-size: 10px;
  }

  maincontent h5 {
    font-size: 1.4rem;
  }
}

/*
@media (max-width: 800px) {

  .navbar
  {
    margin-left: 0;
    margin-right: 0;
  }

  sidebar {
    right: 0;
    max-width: none;
    position: fixed;
    width: 25%;
    padding: 0;
    padding-top: 1px;
    font-size: 10px;
  }

  maincontent {
    width: 75%;
    font-size: 10px;
  }
}
*/
